name: CI/CD Deploy

# FLIGHT
# NEEDED SECRETS
# PROD_FTP_SERVER
# PROD_FTP_USERNAME
# PROD_FTP_PASSWORD
# PROD_FTP_PATH
# PROD_SSH_HOST
# PROD_SSH_USER
# PROD_SSH_KEY
# PROD_SSH_PORT
# PROD_REMOTE_PATH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          ref: main

      # Cache Composer dependencies
      - name: Cache Composer
        uses: actions/cache@v3
        with:
          path: ~/.composer/cache
          key: composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: composer-

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, bcmath

      - name: Install Composer dependencies
        run: |
          composer install \
            --classmap-authoritative \
            --no-interaction \
            --no-ansi \
            --no-dev \
            && composer clear-cache

      - name: Laravel Optimize & Link Storage
        run: |
          php artisan optimize
          php artisan config:clear
          php artisan storage:link

      - name: Archive vendor
        run: tar czf vendor.tar.gz vendor

      - name: FTP Deploy to hPanel
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ${{ secrets.PROD_FTP_SERVER }}
          username: ${{ secrets.PROD_FTP_USERNAME }}
          password: ${{ secrets.PROD_FTP_PASSWORD }}
          local-dir: ./ # deploy everything from this working directory
          server-dir: ${{ secrets.PROD_FTP_PATH }}
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            **/vendor/**

      - name: 'SSH: Decompress & Finalize'
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.PROD_SSH_HOST }}
          username: ${{ secrets.PROD_SSH_USER }}
          key: ${{ secrets.PROD_SSH_KEY }}
          port: ${{ secrets.PROD_SSH_PORT }}
          script: |
            echo "Deploying to Flight"

            cd ${{ secrets.PROD_REMOTE_PATH }}
            if [ -f vendor.tar.gz ]; then
              tar xzf vendor.tar.gz
            fi
            php artisan optimize
            php artisan config:clear
            php artisan storage:link

            php artisan migrate
